<header>
  <div class="row">
    <div class="col"><!-- Empty column --></div>
    <div class="col d-flex justify-content-center">
      <button class="btnnav" onclick="location.href='/'">Home</button>
      <button class="btnnav" onclick="location.href='/search'">Search</button>
      <button class="btnnav" onclick="location.href='/portfolios'">Portfolios</button>
      <button class="btnnav" onclick="location.href='/myaccount'">My Profile</button>
    </div>
    <div class="col d-flex justify-content-end">
      <button class="btnnav" onclick="location.href='/chats'">Chats</button>
    </div>
  </div>
</header>
  