<header>
        <div class="row">
            <div class="col"><!-- Empty column --></div>
            <div class="col d-flex justify-content-center">
                <button class="btnnav" onclick="location.href='/'">Home</button>
                <button class="btnnav" onclick="location.href='/search'">Search</button>
                <button class="btnnav" onclick="location.href='/portfolios'">Portfolios</button>
            </div>
                <div class="col d-flex justify-content-end">
                <button class="btnnav" onclick="location.href='/signin'">Sign in</button>
                <button class="btnnav" onclick="location.href='/signup'">Sign up</button>
            </div>
        </div>
</header>
  