<% layout('layout/main') -%>
<% block('title', 'Portfolios' ) -%>

<div class="row margintop">
  <div class="col-2 "></div>
  <div class="col">
    <h1>All posts</h1>
    <% if (posts.length> 0) { %>
      <% for (let post of posts) { %>
        <div class="user">
          <div class="row">
            <div class="col-sm-3">
              <img src="/images/<%= post.image %>" alt="Avatar" class="avatar">
            </div>
            <div class="col-sm-9">
              <p>
                <%= post.text %>
              </p>

                  <form id="deleteForm" action="/deletepost" method="POST">
                    <input type="hidden" name="id" id="id" value="<%= post._id %>">
                    <button class="delete-account-button" onclick="submitForm()">
                      <i class="fa fa-trash"> Delete post</i>
                    </button>
                  </form>

            </div>
          </div>
        </div>
      <% } %>
      <% } else { %>
          <p>No posts found.</p>
      <% } %>
  </div>
  <div class="col-2"></div>
</div>

