<% layout('layout/main') -%>
<% block('title', 'Edit profile') -%>


<div class="row margintop">
  <div class="col-2 ">
    <img src="/images/<%= session.user.avatar %>" alt="Avatar" class="avatar">

  </div>
  <div class="col">
    <h1>Edit profile</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
      <label>Upload new profile image:</label><br>
      <input type="file" name="image" accept="image/*" required>
      <input type="submit" value="Upload">
    </form>
    <br>
    <form action="/saveeditprofile" method="POST">
      <div class="form-group">
        <label for="name">Change name:</label>
        <input type="text" id="name" name="name" class="form-control"value="<%=session.user.name%>">
      </div>
      <div class="form-group">
        <label for="about">Change about:</label>
        <textarea id="about" name="about"class="form-control"><%=session.user.about%></textarea>
      </div>
      <div class="form-group">
        <label for="contacts">Change contacts:</label>
        <input type="text" id="contacts" name="contacts"class="form-control" value="<%=session.user.contacts%>">
      </div>
      <input class="btnnav" type="submit" value="Save">
    </form>

  </div>
  <div class="col-2 "></div>
</div>