<% layout('layout/main') -%>
<% block('title', 'Error page') -%>


<div class="row error">
  <div class="col-12 d-flex justify-content-center align-items-center">
      <h2><%=errorcode%></h2>
  </div>
</div>
