<% layout('layout/main') -%>
<% block('title', 'Home') -%>

<div class="row margintop">
    <div class="col-2 "></div>
    <div class="col ">
        <h1>PORTFOLIO-SHARING PLATFORM</h1>
        <h3>AT YOUR SERVICE</h3>
        <p>Welcome to our programmer portfolio website! Explore a world of coding and innovation as you browse through a diverse collection of portfolios created by talented programmers from around the world. Showcase your coding skills, connect with like-minded individuals, and unlock exciting opportunities in the tech industry.</p>
        <p>Discover captivating portfolios to find inspiration for your next project or immerse yourself in the beauty of programming expertise. With a wide range of categories and programming styles to explore, you're bound to encounter unique perspectives and innovative ideas.</p>
        <p>Ready to showcase your own programming portfolio? Join our community of passionate programmers and gain exposure for your talent. Share your best projects, tell your coding story, and receive valuable feedback from fellow programmers and industry professionals. Take advantage of networking opportunities to collaborate and forge meaningful connections with others in the field.</p>
        <p>Unlock the full potential of your programming creativity and open doors to exciting opportunities. Get started today and embark on a journey of coding discovery unlike any other. Welcome to our platform – where programmer portfolios come to life and inspiration knows no bounds.</p>
    </div>
    <div class="col-2"></div>
</div>
